<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title><?include(/includes/web_page_title.html)?></title>

	<?include(/includes/web_page_meta.html)?>
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-table-1.23.5/bootstrap-table.min.css">

  <? echo ( do_css_links( 'common.css' ); ) ?>
	<?include(/includes/h1-admin-css.html)?>
  <link href="<?hash_link(/styles/forms.css)?>" rel="stylesheet" media="screen" />
  <? echo ( do_css_links( $$variable{uri} ); ) ?>
    <?include(/includes/h2-js.html)?>
</head>
<body>
<?echo(
  if ( $$openprint::User{type} eq 'A' ) {
    return include('/includes/c1-admin-nav.html');
  }
  return include('/includes/c1-admin-no_nav.html');
) ?>
<div id="content">
    <?include(/includes/error_reporting.html)?>
    <? echo (variable_substitution( \$$variable{PageContent}, $variable ); ) ?>
</div>

    <!--<script src="/javascripts/other.js"></script>-->
    <script src="/openprint/javascripts/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
    <script src="/openprint/javascripts/bootstrap-table-1.23.5/bootstrap-table.min.js"></script>
  </body>
</html>
