
.Service input.calliper_pt {
width: 35px;
}
.Service input.calliper_mm, 
.Service input.calliper, #size, #width, #height {
width: 55px;
}

#div#pricing {
  padding: 0;
}

div#pricing fieldset{
  margin-bottom: 1.5ex;
  padding: 0 1em;

  background-color: #AACCFF;
  border: none; /*2px solid #0B0D60;*/
}
div#pricing ul {
  display: flex;
}
div#pricing ul li {
  padding: 0;
}

div#pricing .breakdowns {
  background: white;
  border: 2px solid #0B0D60;
}

div#pricing label {
  border-bottom: 1px solid #0B0D60;
  margin: 0;
}
.PageTitle {
  display: flex;

}
.PageTitle h1,
.PageTitle h2{
  font-size: 1.4em;color: #0B0D60;font-weight: bold;
  margin-right: 5px;
}
.PageTitle h1:after {
  content: ' »';
}
