.PageTitle {
  display: flex;

}
.PageTitle h1,
.PageTitle h2{
  font-size: 1.4em;color: #0B0D60;font-weight: bold;
  margin-right: 5px;
}
.PageTitle h1:after {
  content: ' »';
}

.Service ul li label.radio-inline {
  width: auto;

}

.Service .dimensions {
  text-align: center;
}
.Service .dimensions input[type="number"] {
  width: 40%;
}
