<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title><!--#include virtual="/includes/web_page_title.html" --> Templates</title>

    <!--#include virtual="/includes/web_page_meta.html" -->
    <!--#include virtual="/includes/h1-main-css.html" -->
    <!--#include virtual="/includes/h2-js.html" -->

    <script language="JavaScript" type="text/javascript" src="/javascripts/detect.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/other.js"></script>
</head>
<body>
<!--#include virtual="/includes/c1-main-nav.html" -->
                                    <h1><span class="title-section">Artwork Specification - Templates</h1>
									<p>Download our templates (right click and select save as). The specification templates will ensure the best results.</p>

   <table style="width:100%">
  <tr>
    <td><h2>EPS Template Files</h2></td>
    <td></td>
    <td><h2>PDF Template Files</h2></td>
	<td></td>
  </tr>
  <tr>
    <td><b>Business Cards</b></td>
    <td><b>Magnets</b></td>
    <td><b>Business Cards</b></td>
	<td><b>Magnets</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
	<td></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_3.5x2.eps">3.5 x 2 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_3.5x2.eps">3.5 x 2 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_3.5x2.pdf">3.5 x 2 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_3.5x2.pdf">3.5 x 2 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_3.5x4_Folded.eps">3.5 x 4 inches - Folded</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_3x5.eps">3 x 5 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_3.5x4_Folded.pdf">3.5 x 4 inches - Folded</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_3x5.pdf">3 x 5 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_RC-3.5x2.eps">3.5 x 2 inches - Rounded Corner</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_4x4.eps">4 x 4 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/BusinessCards/Bus_RC-3.5x2.pdf">3.5 x 2 inches - Rounded Corner</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_4x4.pdf">4 x 4 inches</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_4X6.eps">4 x 6 inches</a></td>
    <td></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_4X6.pdf">4 x 6 inches</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_5x5.eps">5 x 5 inches</a></td>
    <td></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_5x5.pdf">5 x 5 inches</a></td>
  </tr>
  <tr>
    <td><b>Door Hangers</b></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_3.5x2.eps">3.5 x 2 inches - Rounded Corner</a></td>
    <td><b>Door Hangers</b></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_3.5x2.pdf">3.5 x 2 inches - Rounded Corner</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_3.5x8.5.eps">3.5 x 8.5 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_3x5.eps">3 x 5 inches - Rounded Corner</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_3.5x8.5.pdf">3.5 x 8.5 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_3x5.pdf">3 x 5 inches - Rounded Corner</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_3.5x8.5-BC%20Perf.eps">3.5 x 8.5 inches - Perforation</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_4x4.eps">4 x 4 inches - Rounded Corner</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_3.5x8.5-BC%20Perf.pdf">3.5 x 8.5 inches - Perforation</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_4x4.pdf">4 x 4 inches - Rounded Corner</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4.25x11.eps">4.25 x 11 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_4X6.eps">4 x 6 inches - Rounded Corner</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4.25x11.pdf">4.25 x 11 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_4X6.pdf">4 x 6 inches - Rounded Corner</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4.25x11_BC%20Perf.eps">4.25 x 11inches - Perforartion</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_5x5.eps">5 x 5 inches - Rounded Corner</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4.25x11_BC%20Perf.pdf">4.25 x 11inches - Perforartion</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/magnets/Mag_RC_5x5.pdf">5 x 5 inches - Rounded Corner</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4x9.eps">4 x 9 inches</a></td>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/sites/default/files/data/dielines/pdf/door-hanger/DH_4x9.pdf">4 x 9 inches</a></td>
	<td></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4x9_BC%20Perf.eps">4 x 9 inches - Perforation </a></td>
    <td><b>NCR</b></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/door hangers/DH_4x9_BC%20Perf.pdf">4 x 9 inches - Perforation </a></td>
	<td><b>NCR</b></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
	<td></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_5.5x8.5.eps">5.5 x 8.5 inches</a></td>
    <td></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_5.5x8.5.pdf">5.5 x 8.5 inches</a></td>
  </tr>
  <tr>
    <td><b>Envelopes</b></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_8.5x11.eps">8.5 x 11 inches</a></td>
    <td><b>Envelopes</b></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_8.5x11.pdf">8.5 x 11 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Booklet_2.eps">Booklet#2</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_8.5x14.eps">8.5 x 14 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Booklet_2.pdf">Booklet#2</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/NCR/NCR_8.5x14.pdf">8.5 x 14 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_9x12.eps">9 x 12 inches</a></td>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_9x12.pdf">9 x 12 inches</a></td>
	<td></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_10x13.eps">10 x 13 inches</a></td>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_10x13.pdf">10 x 13 inches</a></td>
	<td></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_9.eps">Envelope#9</a></td>
    <td><b>Postcards</b></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_9.pdf">Envelope#9</a></td>
	<td><b>Postcards</b></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_10.eps">Envelope#10</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_4X6.eps">4 x 6 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Env_10.pdf">Envelope#10</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_4X6.pdf">4 x 6 inches/a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A2.eps">Invitation A2</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_4X9.eps">4 x 9 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A2.pdf">Invitation A2</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_4X9.pdf">4 x 9 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A6.eps">Invitation A6</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_5.5x8.5.eps">5.5 x 8.5 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A6.pdf">Invitation A6</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_5.5x8.5.pdf">5.5 x 8.5 inches</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A7.eps">Invitation A7</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_5x7.eps">5 x 7 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/envelopes/Invi_Env_A7.pdf">Invitation A7</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/postcards/Post_5x7.pdf">5 x 7 inches</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
	<td></td>
  </tr>
  <tr>
    <td><b>Flyers</b></td>
    <td><b>Presentation Folders</b></td>
    <td><b>Flyers</b></td>
	<td><b>Presentation Folders</b></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_5.5x8.5.eps">5.5 x 8.5 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_4.25x9.5x3in_Poc.eps">4.25 x 9.5 inches - 3" Pocket</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_5.5x8.5.pdf">5.5 x 8.5 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_4.25x9.5x3in_Poc.pdf">4.25 x 9.5 inches - 3" Pocket</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_8.5x11.eps">8.5 x 11 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_6x9x3.5.eps">6 x 9 inches - 3.5" Pocket</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_8.5x11.pdf">8.5 x 11 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_6x9x3.5.pdf">6 x 9 inches - 3.5" Pocket</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_8.5x14.eps">8.5 x 14 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_8.75x14.5_4in-Poc.eps">8.75 x 14.5 inches - 4" Pocket</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_8.5x14.pdf">8.5 x 14 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_8.75x14.5_4in-Poc.pdf">8.75 x 14.5 inches - 4" Pocket</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_11x17.eps">11 x 17 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_3in-1Poc.eps">9 x 12 inches - 3" 1 Pocket</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/flyers/Flyer_11x17.pdf">11 x 17 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_3in-1Poc.pdf">9 x 12 inches - 3" 1 Pocket</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_3in-2Poc.eps">9 x 12 inches - 3" 2 Pockets</a></td>
    <td></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_3in-2Poc.pdf">9 x 12 inches - 3" 2 Pockets</a></td>
  </tr>
  <tr>
    <td><b>Letterheads</b></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-1Poc.eps">9 x 12 inches - 4" 1 Pocket</a></td>
    <td><b>Letterheads</b></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-1Poc.pdf">9 x 12 inches - 4" 1 Pocket</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_5.5x8.5.eps">5.5 x 8.5 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-2Poc.eps">9 x 12 inches - 4" 2 Pockets</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_5.5x8.5.pdf">5.5 x 8.5 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-2Poc.pdf">9 x 12 inches - 4" 2 Pockets</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_8.5x11.eps">8.5 x 11 inches</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-2Poc-.25%20Gusset.eps">9 x 12 inches - 4" 2 Pockets with 0.25" gusset</a></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_8.5x11.pdf">8.5 x 11 inches</a></td>
	<td><a href="http://www.sherwoodprinters.com/main/templates/presentation folders/Folder_9x12_4in-2Poc-.25%20Gusset.pdf">9 x 12 inches - 4" 2 Pockets with 0.25" gusset</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_8.5x14.eps">8.5 x 14 inches </a></td>
    <td></td>
    <td><a href="http://www.sherwoodprinters.com/main/templates/letterheads/LH_8.5x14.pdf">8.5 x 14 inches </a></td>
	<td></td>
  </tr>
</table> 

                                    <!--#include virtual="/includes/f1-main.html" -->
                                        <!--#include virtual="/includes/main/support.html" -->
                                        <!--#include virtual="/includes/f2-main.html" -->
</body>
</html>
