<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/envelopes/envelope_no_window_side_seam.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"><img src="/images/main/project_templates/envelopes/envelope_window_side_seam.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"><img src="/images/main/project_templates/envelopes/envelope_no_window_crossback.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/envelopes/envelope_window_crossback.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="SideSeamNoWindow" onClick="selectProjectTemplate('f1');" <?SideSeamNoWindow?> />
      <span class="smTbl">Side Seam<br>
      No Window</span> </td>
    <td align="center"><input type="radio" name="rdbTemplateType" value="SideSeamWindow" onClick="selectProjectTemplate('f1');" <?SideSeamWindow?> />
      <span class="smTbl">Side Seam<br>
      With Window</span> </td>
    <td align="center"><span class="smTbl"> 
      <input type="radio" name="rdbTemplateType" value="CrossBackNoWindow" onClick="selectProjectTemplate('f1');" <?CrossBackNoWindow?> />
      <span class="smTbl"><span class="smTbl">Cross Back</span><br>
      No Window </span></span></td>
    <td align="center"> <span class="smTbl"> 
      <input type="radio" name="rdbTemplateType" value="CrossBackWindow" onClick="selectProjectTemplate('f1');" <?CrossBackWindow?> />
      <span class="smTbl"><span class="smTbl">Cross Back</span><br>
      With Window</span></span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"><img src="/images/main/project_templates/envelopes/invitation_envelope_back.gif" width="130" height="130"> 
    </td>
    <td align="center"> <img src="/images/main/project_templates/envelopes/coin_envelope_back.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/envelopes/no13_horzontal_back.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/envelopes/no13_vertical_back.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="Invitation" onClick="selectProjectTemplate('f1');" /> 
      <span class="smTbl">Invitation</span></td>
    <td align="center"><span class="smTbl">
<input type="radio" name="rdbTemplateType" value="Coin" onClick="selectProjectTemplate('f1');" />
      <span class="smTbl">Coin</span></span></td>
    <td align="center"><input type="radio" name="rdbTemplateType" value="OpenSide" onClick="selectProjectTemplate('f1');" />
      <span class="smTbl">Open Side</span></td>
    <td align="center"> <span class="smTbl">
<input type="radio" name="rdbTemplateType" value="OpenEnd" onClick="selectProjectTemplate('f1');" />
      <span class="smTbl">Open End</span></span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
