<table width="600" border="0" cellspacing="0" cellpadding="0" cols="4">
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130"></td>
    <td width="150" align="center">&nbsp;</td>
    <td width="150" align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center">
      <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInkjetPortrait" value="InkjetPortrait" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInkjetPortrait?> /> 
      <label for="rdbTemplateTypeInkjetPortrait"><span class="smTbl">Portrait</span></label></td>
    <td align="center">
      <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInkjetLandscape" value="InkjetLandscape" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInkjetLandscape?> /> 
      <label for="rdbTemplateTypeInkjetLandscape"><span class="smTbl">Landscape</span></label></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
