<table width="600" border="0" cellspacing="0" cellpadding="0" cols="4">
	<tr> 
		<td align="center"><img src="/images/templates/inserts/insert_folio_lip.gif" width="130" height="130"></td>
		<td align="center"><img src="/images/templates/inserts/insert_folio_lip_perf.gif" width="130" height="130"></td>
		<td align="center"><img src="/images/templates/inserts/insert_2_panel.gif" width="130" height="130"></td>
		<td align="center"><img src="/images/templates/inserts/insert_2_panel_perf.gif" width="130" height="130"></td>
	</tr>
	<tr> 
		<td align="center">
		   <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInsertFolioLip" value="InsertFolioLip" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInsertFolioLip?> /> 
			<label for="rdbTemplateTypeInsertFolioLip"><span class="smTbl">Folio Lip</span></label></td>
		<td align="center">
		   <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInsertFolioLipPerf" value="InsertFolioLipPerf" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInsertFolioLipPerf?> /> 
			<label for="rdbTemplateTypeInsertFolioLipPerf"><span class="smTbl">Folio Lip w/ Perf</span></label></td>
		<td align="center">
		   <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInsert2PanelFold" value="Insert2PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInsert2PanelFold?> />
			<label for="rdbTemplateTypeInsert2PanelFold"><span class="smTbl">2 Panel Fold</span></label></td>
		<td align="center">
		   <input type="radio" name="rdbTemplateType" id="rdbTemplateTypeInsert2PanelFoldPerf" value="Insert2PanelFoldPerf" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeInsert2PanelFoldPerf?> />
			<label for="rdbTemplateTypeInsert2PanelFoldPerf"><span class="smTbl">2 Panel Fold w/ Perf</span></label></td>
	</tr>
	<tr> 
		<td colspan="4">&nbsp;</td>
	</tr>
</table>
