<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" align="center"> <img src="/images/main/project_templates/labels/label_standard.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"> <img src="/images/main/project_templates/labels/label_rounded.gif" width="130" height="130"></td>
    <td width="150" align="center"> <img src="/images/main/project_templates/labels/label_standard_sheet.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"> <img src="/images/main/project_templates/labels/label_rounded_sheet.gif" width="130" height="130"></td>
  </tr>
  <tr>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="RectangularLabel" /> 
      <span class="smTbl">Rectangular</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="RoundedLabel" /> 
      <span class="smTbl">Rounded</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="StandardLabelSheet" /> 
      <span class="smTbl">Standard Sheet</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="RoundedLabelSheet" /> 
      <span class="smTbl">Rounded Sheet</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"> <img src="/images/main/project_templates/labels/label_circular.gif" width="130" height="130"> 
    </td>
    <td align="center"><img src="/images/main/project_templates/labels/label_oval.gif" width="130" height="130"> 
    </td>
    <td align="center"><img src="/images/main/project_templates/labels/label_custom.gif" width="130" height="130"> 
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CircularLabel" /> 
      <span class="smTbl">Circular</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CustomLabel" /> 
      <span class="smTbl">Oval</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CustomLabel" /> 
      <span class="smTbl">Custom</span></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
