<table width="600" border="0" cellspacing="0" cellpadding="0" cols="4">
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/8.5x11_half_fold.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/8.5x11_tri_fold.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="Portrait" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypePortrait?> /> 
      <span class="smTbl">Portrait</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="Landscape" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeLandscape?> /> 
      <span class="smTbl">Landscape</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="HalfFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeHalfFold?> /> 
      <span class="smTbl">Half Fold</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="TriFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeTriFold?> /> 
      <span class="smTbl">Tri Fold</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"> <img src="/images/main/project_templates/maps/map_accordian_1_panel.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/maps/map_accordian_2_panel.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/maps/map_accordian_3_panel.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/maps/map_accordian_4_panel.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="AccordianFold1Panel" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeAccordianFold1Panel?> /> 
      <span class="smTbl">Accordian Fold<br>
      1 Panel</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="AccordianFold2Panel" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeAccordianFold2Panel?> /> 
      <span class="smTbl">Accordian Fold <br>
      2 Panel</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="AccordianFold3Panel" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeAccordianFold3Panel?> /> 
      <span class="smTbl">Accordian Fold<br>
      3 Panel</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="AccordianFold4Panel" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeAccordianFold4Panel?> /> 
      <span class="smTbl">Accordian Fold<br>
      4 Panel</span></td>
  </tr>
</table>
