<div class="row">
	<span class="templateOption">
		<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130">
		<input type="radio" name="rdbTemplateType" id="rdbTemplateTypePortrait" value="Portrait" onClick="selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'Portrait' ) ?> />
		<label for="rdbTemplateTypePortrait"><span class="smTbl">Vertical</span></label>
	</span>
	<span class="templateOption">
		<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130">
		<input type="radio" name="rdbTemplateType" id="rdbTemplateTypeLandscape" value="Landscape" onClick="selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'Landscape' ) ?> />
		<label for="rdbTemplateTypeLandscape"><span class="smTbl">Horizontal</span></label>
	</span>
</div>
