<div class="row">
	<span class="templateOption">
		<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130">
		<input type="radio" name="rdbTemplateType" value="NoFold" onClick="selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'NoFold' ) ?> /> 
		<span class="smTbl">No Fold</span>
	</span>
    <span class="templateOption">
		<img src="/images/main/project_templates/brochures/8.5x11_half_fold.gif" width="130" height="130">
		<input type="radio" name="rdbTemplateType" value="2PanelFold" onClick="selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq '2PanelFold' ) ?> />
		<span class="smTbl">2 Panel</span>
	</span>
</div>
