<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-BusCardLandscape">
			<img src="/images/main/project_templates/business_cards/business_card_horizontal.gif" width="130" height="130" /><br /><br />
			<input type="radio" name="template" id="template-BusCardLandscape" value="BusCardLandscape" />
			Landscape
		</label>
	</div>

	<div>
		<label for="template-BusCardPortrait">
			<img src="/images/main/project_templates/business_cards/business_card_vertical.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-BusCardPortrait" value="BusCardPortrait" />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-BusCardLandscapeFold">
			<img src="/images/main/project_templates/business_cards/business_card_horzontal_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-BusCardLandscapeFold" value="BusCardLandscapeFold" />
			Landscape Fold
		</label>
	</div>

	<div>
		<label for="template-BusCardPortraitFold">
			<img src="/images/main/project_templates/business_cards/business_card_vertical_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-BusCardPortraitFold" value="BusCardPortraitFold" />
			Portrait Fold
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->