<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-ChequeStandard">
			<img src="/images/main/project_templates/cheques/cheque_2_perfs.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-ChequeStandard" value="ChequeStandard" />
			Standard
		</label>
	</div>

	<div>
		<label for="template-ChequeVoucher">
			<img src="/images/main/project_templates/cheques/cheque_1_perf.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-ChequeVoucher" value="ChequeVoucher" />
			Voucher
		</label>
	</div>

	<div>
		<label for="template-ChequeWallet">
			<img src="/images/main/project_templates/cheques/cheque_3_perfs.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-ChequeWallet" value="ChequeWallet" />
			Wallet
		</label>
	</div>

	<div>
		<label for="template-ChequeWalletSingles">
			<img src="/images/main/project_templates/cheques/cheque_no_perf.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-ChequeWalletSingles" value="ChequeWalletSingles" />
			Wallet (Singles)
		</label>
	</div>

	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->