<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-CouponLandscape">
			<img src="/images/main/project_templates/business_cards/business_card_horizontal.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CouponLandscape" value="CouponLandscape" />
			Landscape
		</label>
	</div>

	<div>
		<label for="template-CouponPortrait">
			<img src="/images/main/project_templates/business_cards/business_card_vertical.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CouponPortrait" value="CouponPortrait" />
			Portrait
		</label>
	</div>
	<br />
</fieldset>