<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-SideSeamNoWindow">
			<img src="/images/main/project_templates/envelopes/envelope_no_window_side_seam.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-SideSeamNoWindow" value="SideSeamNoWindow" />
			No Window <br />
			Side Seam / Square Flap <br />
		</label>
	</div>

	<div>
		<label for="template-SideSeamWindow">
			<img src="/images/main/project_templates/envelopes/envelope_window_side_seam.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-SideSeamWindow" value="SideSeamWindow" />
			Window<br />
			Side Seam / Square Flap
		</label>
	</div>

	<div>
		<label for="template-CrossBackNoWindow">
			<img src="/images/main/project_templates/envelopes/envelope_no_window_crossback.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CrossBackNoWindow" value="CrossBackNoWindow" />
			 No Window<br />
			Cross Back / Commercial Flap
		</label>
	</div>

	<div>
		<label for="template-CrossBackWindow">
			<img src="/images/main/project_templates/envelopes/envelope_window_crossback.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CrossBackWindow" value="CrossBackWindow" />
			Window<br />
			Cross Back / Commercial Flap
		</label>
	</div>

	<div>
		<label for="template-InvitationSideSeam">
			<img src="/images/main/project_templates/envelopes/invitation_envelope_side_seam.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InvitationSideSeam" value="InvitationSideSeam" />
			Invitation<br />
			Side Seam / Square Flap
		</label>
	</div>

	<div>
		<label for="template-InvitationCrossBack">
			<img src="/images/main/project_templates/envelopes/invitation_envelope_back.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InvitationCrossBack" value="InvitationCrossBack" />
			Invitation<br />
			Cross Back / Commercial Flap
		</label>
	</div>

	<div>
		<label for="template-"OpenSide>
			<img src="/images/main/project_templates/envelopes/no13_horzontal_back.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-OpenSide" value="OpenSide" />
			Open Side
		</label>
	</div>

	<div>
		<label for="template-OpenEnd">
			<img src="/images/main/project_templates/envelopes/no13_vertical_back.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-OpenEnd" value="OpenEnd" />
			Open End
		</label>
	</div>
	<br />
</fieldset>