<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-FormNoPerf">
			<img src="/images/main/project_templates/forms/form_vertical.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormNoPerf" value="FormNoPerf" />
			No Perf
		</label>
	</div>

	<div>
		<label for="template-FormPerf1">
			<img src="/images/main/project_templates/forms/form_1_perf.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPerf1" value="FormPerf1" />
			1 Perf
		</label>
	</div>

	<div>
		<label for="template-FormPerf2">
			<img src="/images/main/project_templates/forms/form_2_perfs.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPerf2" value="FormPerf2" />
			2 Perf
		</label>
	</div>

	<div>
		<label for="template-FormPart2">
			<img src="/images/main/project_templates/forms/form_2_part_NCR.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPart2" value="FormPart2" />
			2 Part
		</label>
	</div>

	<div>
		<label for="template-FormPart3">
			<img src="/images/main/project_templates/forms/form_3_part_NCR.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPart3" value="FormPart3" />
			3 Part
		</label>
	</div>

	<div>
		<label for="template-FormPart4">
			<img src="/images/main/project_templates/forms/form_4_part_NCR.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPart4" value="FormPart4" />
			4 Part
		</label>
	</div>

	<div>
		<label for="template-FormPart5">
			<img src="/images/main/project_templates/forms/form_5_part_NCR.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPart5" value="FormPart5" />
			5 Part
		</label>
	</div>

	<div>
		<label for="template-FormPart6">
			<img src="/images/main/project_templates/forms/form_6_part_NCR.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-FormPart6" value="FormPart6" />
			6 Part
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->