<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-InkjetPortrait">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InkjetPortrait" value="InkjetPortrait" />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-InkjetLandscape">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InkjetLandscape" value="InkjetLandscape" />
			Landscape
		</label>
	</div>
	<br />
</fieldset>