<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-InsertFolioLip">
			<img src="/images/main/project_templates/inserts/insert_folio_lip.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InsertFolioLip" value="InsertFolioLip" />
			Folio Lip
		</label>
	</div>

	<div>
		<label for="template-InsertFolioLipPerf">
			<img src="/images/main/project_templates/inserts/insert_folio_lip_perf.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-InsertFolioLipPerf" value="InsertFolioLipPerf" />
			Folio Lip w/ Perf
		</label>
	</div>

	<div>
		<label for="template-Insert2PanelFold">
			<img src="/images/main/project_templates/inserts/insert_2_panel.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-Insert2PanelFold" value="Insert2PanelFold" />
			2 Panel Fold
		</label>
	</div>

	<div>
		<label for="template-Insert2PanelFoldPerf">
			<img src="/images/main/project_templates/inserts/insert_2_panel_perf.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-Insert2PanelFoldPerf" value="Insert2PanelFoldPerf" />
			2 Panel Fold w/ Perf
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->