<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-LabelStraightCut">
			<img src="/images/main/project_templates/labels/label_standard.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LabelStraightCut" value="LabelStraightCut" />
			Straight Cut
		</label>
	</div>

	<div>
		<label for="template-LabelDieCut">
			<img src="/images/main/project_templates/labels/label_circular.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LabelDieCut" value="LabelDieCut" />
			Die Cut
		</label>
	</div>

	<div>
		<label for="template-LabelKissCut">
			<img src="/images/main/project_templates/labels/label_rounded_sheet.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LabelKissCut" value="LabelKissCut" />
			Kiss Cut
		</label>
	</div>

	<div>
		<label for="template-LabelSheets">
			<img src="/images/main/project_templates/labels/label_standard_sheet.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LabelSheets" value="LabelSheets" />
			Sheets
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->