<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label>
			<img src="/images/main/project_templates/large_format/landscape.gif" width="130" height="130" /><br />
			<input type="radio" name="template" value="LF-Landscape" <?templateLF-Landscape?> />
			Standard
		</label>
	</div>

	<div>
		<label>
			<img src="/images/main/project_templates/large_format/sign_backlit.gif" width="130" height="130" /><br />
			<input type="radio" name="template" value="LF-Back-lits" <?templateLF-Back-lits?> />
			Back-lits
		</label>
	</div>

	<div>
		<label>
			<img src="/images/main/project_templates/large_format/pos.gif" width="130" height="130" /><br />
			<input type="radio" name="template" value="LF-CustomCutOuts" <?templateLF-CustomCutOuts?> />
			Custom Cut Outs
		</label>
	</div>

	<div>
		<label>
			<img src="/images/main/project_templates/large_format/wallpaper_wrap.gif" width="130" height="130" /><br />
			<input type="radio" name="template" value="LF-Wraps" <?templateLF-Wraps?> />
			Wraps
		</label>
	</div>
	<br />
</fieldset>