<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-LF-Portrait">
			<img src="/images/main/project_templates/large_format/portrait.gif" width="130" height="130" /><br />
			<input type='radio' name="template" id="template-LF-Portrait" value='LF-Portrait' onclick='project_template(this.form);' <?templateLF-Portrait?> />
			Standard
		</label>
	</div>

	<div>
		<label for="template-LF-CustomCutOuts">
			<img src="/images/main/project_templates/large_format/pos.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LF-CustomCutOuts" value="LF-CustomCutOuts" <?templateLF-CustomCutOuts?> />
			Custom Cut Outs
		</label>
	</div>
	<br />
</fieldset>