<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-LF-Portrait">
			<img src="/images/main/project_templates/large_format/portrait.gif" width="130" height="130" /><br />
			<input type='radio' name="template" id="template-LF-Portrait" value='LF-Portrait' onclick='project_template(this.form);' <?templateLF-Portrait?> />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-LF-Landscape">
			<img src="/images/main/project_templates/large_format/landscape.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-LF-Landscape" value="LF-Landscape" <?templateLF-Landscape?> />
			Landscape
		</label>
	</div>
	<br />
</fieldset>