<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-NoFold">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-NoFold" value="NoFold" />
			No Fold
		</label>
	</div>

	<div>
		<label for="template-2PanelFold">
			<img src="/images/main/project_templates/brochures/8.5x11_half_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-2PanelFold" value="2PanelFold" />
			2 Panel
		</label>
	</div>

	<div>
		<label for="template-DoubleGateFold">
			<img src="/images/main/project_templates/brochures/double_gatefolded.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-DoubleGateFold" value="DoubleGateFold" />
			Double Gate Fold
		</label>
	</div>

	<div>
		<label for="template-3PanelFold">
			<img src="/images/main/project_templates/brochures/3_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-3PanelFold" value="3PanelFold" />
			3 Panel
		</label>
		<label for="template-3PanelZFold">
			<input type="radio" name="template" id="template-3PanelZFold" value="3PanelZFold" />
			3 Panel Z
		</label>
	</div>

	<div>
		<label for="template-4PanelFold">
			<img src="/images/main/project_templates/brochures/4_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-4PanelFold" value="4PanelFold" />
			4 Panel
		</label>
		<label for="template-4PanelZFold">
			<input type="radio" name="template" id="template-4PanelZFold" value="4PanelZFold" />
			4 Panel Z
		</label>
	</div>

	<div>
		<label for="template-5PanelFold">
			<img src="/images/main/project_templates/brochures/5_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-5PanelFold" value="5PanelFold" />
			5 Panel
		</label>
		<label for="template-5PanelZFold">
			<input type="radio" name="template" id="template-5PanelZFold" value="5PanelZFold" />
			5 Panel Z
		</label>
	</div>

	<div>
		<label for="template-6PanelFold">
			<img src="/images/main/project_templates/brochures/6_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-6PanelFold" value="6PanelFold" />
			6 Panel
		</label>
		<label for="template-6PanelZFold">
			<input type="radio" name="template" id="template-6PanelZFold" value="6PanelZFold" />
			6 Panel Z
		</label>
	</div>

	<div>
		<label for="template-AdditionalFoldTypes">
			<img src="/images/main/project_templates/maps/map_accordian_2_panel.gif" width="130" height="130" />
			<input type="radio" name="template" id="template-AdditionalFoldTypes" value="AdditionalFoldTypes" />
			Additional Fold Types
		</label>
	</div>
	<br />
</fieldset>