<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-Portrait">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-Portrait" value="Portrait" />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-Landscape">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-Landscape" value="Landscape" />
			Landscape
		</label>
	</div>

	<div>
		<label for="template-Boxes">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-Boxes" value="Boxes" />
			Boxes
		</label>
	</div>

	<div>
		<label for="template-CDInserts">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CDInserts" value="CDInserts" />
			CD Inserts
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions_packaging.html"-->
