<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-CardPortrait">
			<img src="/images/main/project_templates/postcards/postcard_vertical.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CardPortrait" value="CardPortrait" />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-CardLandscape">
			<img src="/images/main/project_templates/postcards/postcard_horizontal.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-CardLandscape" value="CardLandscape" />
			Landscape
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->