<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-PostersPortrait">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PostersPortrait" value="PostersPortrait" />
			Vertical
		</label>
	</div>

	<div>
		<label for="template-PostersLandscape">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PostersLandscape" value="PostersLandscape" />
			Horizontal
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->