<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-SWPressSheet">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130"><br />
			<input type="radio" name="template" id="template-SWPressSheet" value="SWPressSheet" />
			SW Press Sheets
		</label>
	</div>

	<div>
		<label for="template-WTPressSheet">
			<img src="/images/main/project_templates/brochures/11x8.5_no_fold.gif" width="130" height="130"><br />
			<input type="radio" name="template" id="template-WTPressSheet" value="WTPressSheet" />
			WT Press Sheets
		</label>
	</div>
	<br />
</fieldset>