<fieldset>
	<legend>
		Press Sheet Combinations
	</legend>

	<p>How many items will be cut from this press sheet?</p>
	<label for="txtPressSheetComboItems">Items Cut from Sheet:</label>
	<input id="txtPressSheetComboItems" name="txtPressSheetComboItems" value="<?txtPressSheetComboItems?>" type="text" size="9" class="smBox" />
	<br />
	
	<p>What are the <span class="tip" title="The dimensions of a printed piece before it has been cut or folded.">flat</span> dimensions of the combination layout? Layout must include all items to be cut from the press sheet.</p>
	<label for="flat_width">Flat Dimensions:</label>
	<input id="flat_width" name="flat_width" size="9" value="<?flat_width?>" class="smbox" />
	<input id="flat_height" name="flat_height" size="9" value="<?flat_height?>" class="smbox" />
	<label for="flat_height" class="post-input">(W&#8243; &#215; H&#8243;)</label>
	<br />
</fieldset>
