<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-PresentationFolderStandard1Pocket">
			<img src="/images/main/project_templates/presentation_folders/pres_folder_2_panel_1_pocket.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PresentationFolderStandard1Pocket" value="PresentationFolderStandard1Pocket" />
			Standard 1 Pocket
		</label>
	</div>

	<div>
		<label for="template-PresentationFolderStandard2Pocket">
			<img src="/images/main/project_templates/presentation_folders/pres_folder_2_panel.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PresentationFolderStandard2Pocket" value="PresentationFolderStandard2Pocket"  />
			Standard 2 Pocket
		</label>
	</div>

	<div>
		<label for="template-PresentationFolderCustomDieCut">
			<img src="/images/main/project_templates/presentation_folders/pres_folder_3_panel.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PresentationFolderCustomDieCut" value="PresentationFolderCustomDieCut"  />
			Custom Die Cut
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->
<!--#include virtual="/includes/main/proj/presentationfolders.html"-->
