<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-PadsSquare">
			<img src="/images/main/project_templates/scratch_pads/3.5x3.5_pad.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PadsSquare" value="PadsSquare"  />
			Square
		</label>
	</div>

	<div>
		<label for="template-PadsPortrait">
			<img src="/images/main/project_templates/scratch_pads/4.125x5.75_pad.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PadsPortrait" value="PadsPortrait" />
			Vertical
		</label>
	</div>

	<div>
		<label for="template-PadsLandscape">
			<img src="/images/main/project_templates/scratch_pads/6x3.5_pad.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-PadsLandscape" value="PadsLandscape" />
			Horizontal
		</label>
	</div>
	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html" -->
<!--#include virtual="/includes/main/proj/scratch_pad_quantity.html"-->
