<p>*Please select a folding style for the following signature group:</p>
<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-4PageSignature">
			<img src="/images/main/project_templates/brochures/8.5x11_half_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-4PageSignature" value="4PageSignature" />
			4 Page Signature
		</label>
	</div>

	<div>
		<label for="template-SingleGateFold">
			<img src="/images/main/project_templates/brochures/single_gatefolded.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-SingleGateFold" value="SingleGateFold" />
			Single Gate Fold
		</label>
	</div>

	<div>
		<label for="template-DoubleGateFold">
			<img src="/images/main/project_templates/brochures/double_gatefolded.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-DoubleGateFold" value="DoubleGateFold" />
			Double Gate Fold
		</label>
	</div>

	<div>
		<label for="template-NoFold">
			<img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-NoFold" value="NoFold" />
			No Fold
		</label>
	</div>
	<br />
</fieldset>
<fieldset id="gatefold_size">
	<legend>Dimensions</legend>

	<label for="gatefold_lip">Gate Fold Lip:</label>
	<input id="gatefold_lip" name="gatefold_lip" type="text" class="numeric" />"
</fieldset>
<fieldset id="flush_foldout">
  <legend>Flush fold out cover</legend>
  <p>You can have single or double gated covers be flush fold out covers.</p>
  <label for="FlushFoldOut">I want flush fold out covers:</label>
  <input id="FlushFoldOut" name="FlushFoldOut" type="checkbox" value=1 />
  <br />
</fieldset>