<fieldset id="templates">
	<legend>Template Selection</legend>

	<p class="none">&nbsp;</p>

	<div>
		<label for="template-TagLandscape">
			<img src="/images/main/project_templates/business_cards/business_card_horizontal.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-TagLandscape" value="TagLandscape" />
			Landscape
		</label>
	</div>

	<div>
		<label for="template-TagPortrait">
			<img src="/images/main/project_templates/business_cards/business_card_vertical.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-TagPortrait" value="TagPortrait" />
			Portrait
		</label>
	</div>

	<div>
		<label for="template-TagLandscapeFold">
			<img src="/images/main/project_templates/business_cards/business_card_horzontal_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-TagLandscapeFold" value="TagLandscapeFold" />
			Landscape Fold
		</label>
	</div>

	<div>
		<label for="template-TagPortraitFold">
			<img src="/images/main/project_templates/business_cards/business_card_vertical_fold.gif" width="130" height="130" /><br />
			<input type="radio" name="template" id="template-TagPortraitFold" value="TagPortraitFold" />
			Portrait Fold
		</label>
	</div>

	<br />
</fieldset>

<!--#include virtual="/includes/main/proj/dimensions.html"-->