#Configuration fieldset li {
  display: flex;
  /*
	padding: 0 115px 0 405px;
	position: relative;
  */
}
#Configuration fieldset li label:not(.radio-inline) {
	width: 400px;
  /*
	margin-left: -405px;
  */
}
#Configuration li .buttons {
  /*
	position: absolute;
	top: 0;
	right: 0;
  */
  width: 200px;
}
	
#Configuration input[type="text"], #Configuration textarea, #Configuration select {
	width: 100%;
}
