
.claim_id {
	width: 50px;
	text-align: left;
}
.ID {
	width: 75px;
	text-align: left;
}

table .transaction {
	width: 200px;
}
table .Date {
	width: 220px;
	text-align: left;
}

table input[type="number"] {
	width: 94%;
	text-align: right;
}
@media print {
    #Payments .new {
        display: none;
    }
}

