table .RFID {
	text-align: left;
	width: 50px;
}
table .quantity {
	text-align: right;
	width: 60px;
	padding-right: 3px;
}
table .Stock, table .Supplier {
	text-align: left;
}
table .manifest_id {
	text-align: left;
	width: 120px;
}
table .po_id {
	text-align: left;
	width: 60px;
}
table .SupplierINV {
	width: 80px;
}
table .Cost input[type="number"] {
	width: 60px;
	text-align: right;
}
