table .ID {
	width: 50px;
	text-align: left;
}
table .Filename {
	text-align: left;
}

table .thumbnail {
	width: 48px;
	text-align: right;
}
table .thumbnail img {
	width: 48px;
}
.View img {
	width: 100%;
}
table .size {
	min-width: 80px;
	text-align: right;
}
