/*
.Project .History .filters .leftColumn {
    width: 39%;
	min-width: 270px;
}
.Project .History .filters .leftColumn li {
	padding-left: 75px;
} 
.Project .History .filters .leftColumn label {
	margin-left: -75px;
	width: 75px;
}

.Project .History .filters .rightColumn {
    width: 60%;
	float: left;
	min-width: 270px;
}
.Project .History .filters .rightColumn li {
	padding-left: 100px;
} 
.Project .History .filters .rightColumn label {
	margin-left: -100px;
	width: 100px;
}
*/

#ProjectID {
	width: 60%;
}
p.buttons {
	padding-left: 75px;
}
table .User {
text-align: right;
vertical-align: top;
}
