/*div.Project div.History .filters div.leftColumn {
    width: 27%;
}
div.Project div.History .filters div.rightColumn {
    width: 70%;
}

*/
div.Project div.Reuse div.quantities ul li {
    width: 320px;
    float: left;
}
div.Project div.Reuse div.quantities ul li input {
max-width: 98%;
}
div.Project div.Reuse ul li {
    text-align: left;
}
div.Project div.Reuse ul li label {
    text-align: right;
}
div.Project div.Reuse ul li textarea {
    width: 98%;
}
div.Project div.Reuse ul li select {
	width: auto;
}
select#ddmCustomer, select#company_id {
width: auto;
}
