
table .quantity {
	width: 54px;
	text-align: left;
}
table .quantity input[type="number"] ,
table .quantity input[type="text"] {
	width: 54px;
}
table .dimensions {
	width: 170px;
	text-align: center;
}
/*
.Proofs .dimensions input[type="number"] ,
.Proofs .dimensions input[type="text"] {
	width: 55px;
}
*/
table .type {
	text-align: left;
}

table .additional td, .Proofs .totals td, .Proofs .breakdown td {
	text-align: right;
}
.Proofs .Price {
	width: 110px;
}
.Proofs .MR {
	display: none;
}
.Proofs .Price input[type="text"],
.Proofs .Price input[type="number"] {
	width: calc(100% - 30px);
	text-align: right;
}
.Proofs .Total input[type="text"],
.Proofs .Total input[type="number"] {
	width: 100%;
	text-align: right;
  border: none;
}
