input[type="text"] {
	width: 70%;
}
table .active {
	width: 75px;
	text-align: center;
}
table .name {
	text-align: left;
}
.EmailCampaign input[type="email"] {
	width: 100%;
}
iframe#preview {
width: 100%;
height: 600px;
}
