<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><!--#include virtual="/includes/web_page_title.html" -->
		My Products - PDF Template Records</title>

	<!--#include virtual="/includes/web_page_meta.html" -->
	<!--#include virtual="/includes/h1-main-css.html" -->
	<!--#include virtual="/includes/h2-js.html" -->

	<link href="/styles/forms.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/styles/template.css" rel="stylesheet" type="text/css" media="screen" />

	<script type="text/javascript" src="/javascripts/JSAN.js"></script>
	<script type="text/javascript" src="interactive.js"></script>
    <script type="text/javascript" src="/javascripts/proj/utilities.js"></script>

	<style type="text/css">
		/* Nav & Tabs & Side Bar Ads */
		.tab { display: none; }
		#side-bar-ads {display: none; }
	</style>
</head>

<body>
	<!--#include virtual="/includes/c1-main-nav.html" -->
<fieldset>
<legend>Instructions</legend>
<p>Please fill in the fields below. When finished please select the Save and Continue button.</p>
</fieldset>
	<form id="template" method="post" action="record.html?pid=<?pid?>">
		<input type="hidden" name="pid" value="<?pid?>" id="pid" />
		<?if create_to_order?>
			<input type="hidden" name="create_to_order" value="1" />
		<?endif create_to_order?>

		

		<div id="fill">
			<input type="hidden" name="id" id="id" />

			<? loop pages ?>
				<fieldset>
					<legend>Page <?_row?></legend>


					<? loop blocks ?>


						<?if ($$variable{Custom}{disabled} )?>
						<?else ($$variable{Custom}{disabled} )?>
							<label for="b<?_row?>" style="width:300px;"><?Description?></label>
						<?endif ($$variable{Custom}{disabled} )?>

						<?if ($$variable{Subtype} eq 'Text') ?>
							<?if not:textarea ?>
								<input id="b<?_row?>" size="<?cols?>" style="width: <?cols?>em;" name="<?Name?>" value="" 

						<?if ($$variable{Custom}{disabled} )?>
							type="hidden"
						<?endif ($$variable{Custom}{disabled} )?>
/>

							<?endif not:textarea ?>

							<?if textarea ?>
								<textarea id="b<?_row?>" rows="<?rows?>" cols="<?cols?>" name="<?Name?>" style="overflow-y: <?scrollbar?>; width: <?cols?>em; height: <?rows?>em" ></textarea>
							<?endif textarea ?>

						<?else ($$variable{Subtype} eq 'Text') ?>
							<?eval ($variable->{items} = $variable->{assets}{ $variable->{Name} }) ?>

							<!-- We're an asset so we need a dropdown populated. -->
							<?if empty:items?>
								No assets available. Please click <a href="assets.html?pid=<?pid?><?if create_to_order?>;create_to_order=1<?endif create_to_order?>">here</a> to upload assets.
							<?endif empty:items?>

							<?if not:empty:items?>
								<select id="b<?_row?>" name="<?Name?>">

									<?loop items?>
										<option value="<?id?>"><?name?></option>
									<?endloop items?>

								</select>
							<?endif not:empty:items?>
						<?endif ($$variable{Subtype} eq 'Text') ?>

						<br />


					<? endloop blocks ?>
		
				</fieldset>
			<? endloop pages ?>
		</div>

		<div class="button-bar">
<!--			<input type="submit" class="button right" value="Save and Continue" onClick="form.action='/build'" />.
 this link brings you to the correct place but did not save my record-->            
 			<input type="submit" class="button right" value="Save and Continue" onClick="form.action='main.html'" />
	    </div>
        <br />
        <br />
         <br />
        <br />
         <br />
        <br />
        <fieldset class="hidden-details">
        <legend>Multiple Records</legend>
         
        <p>To Create Multiple Records for your print project select the New Record Button below. Make your new record by filling in the fields above then select the Save Current Record Button below. To move between Records use the Arrow buttons below or type in the record ID number and select Go to Record. Once all your records are complete select the Save and Continue button above.</p>
        
			<input name="new"    type="submit" class="button"       style="float: left" value="New Record" />
			<input               type="submit" class="button right" value="Save Current Record" />
			<input name="delete" type="submit" class="button right" value="Delete Current Record" />
			<!-- <input type="button" class="button right" value="Clear" style="float: right;" /> -->

			
<!--				<input name="first"  type="submit" class="button arrow" value="|&lt;&lt;" />
-->				<input name="prev"   type="submit" class="button arrow" value="&lt;-" />
				
				<input name="next"   type="submit" class="button arrow" value="-&gt;" />
<!--				<input name="last"   type="submit" class="button arrow" value="&gt;&gt;|" />
<input name="offset" type="text"   id="offset"          value="<?offset?>" />
				<input               type="submit" class="button"       value="Go" />
-->			<input name="offset" type="text"   id="offset"       size="2"  value="<?offset?>" />
				<input               type="submit" class="button"       value="Go to Record" />
        </fieldset>
       
         <fieldset class="hidden-details">
        <legend>File Assets</legend>
        <p>To upload template assets please click <a href="assets.html?pid=<?pid?><?if create_to_order?>;create_to_order=1<?endif create_to_order?>">here</a>.</p>
        </fieldset>
       <fieldset class="hidden-details">
       <legend>Bulk Uploads</legend>
        <p>To bulk upload record data please click <a href="data.html?pid=<?pid?><?if create_to_order?>;create_to_order=1<?endif create_to_order?>">here</a>.</p>
      </fieldset>
        
        <input type="hidden" name="go" id="go" value="1" />
        <input type="hidden" name="Finish" value="1" id="Finish" />
	</form>


	<!--#include virtual="/includes/f1-main.html" -->
	
	<br class="clear" />

	<div id="previews">
		<? loop pages ?>
			<div class="preview">
				<img width="322px" id="p<?_row?>" alt="Page <?_row?> Preview" src="" />
				<a href="javascript:view_pdf(<?_row?>)">Click Here to View Full Size PDF Proof</a>
			</div>

		<? endloop pages ?>
	</div>

<!--#include virtual="/includes/f2-main.html" -->
</body>
</html>
