<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><!--#include virtual="/includes/web_page_title.html" -->
		My Products - PDF Template Records</title>

	<!--#include virtual="/includes/web_page_meta.html" -->
	<!--#include virtual="/includes/h1-main-css.html" -->
	<!--#include virtual="/includes/h2-js.html" -->

	<link href="/styles/forms.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/styles/template.css" rel="stylesheet" type="text/css" media="screen" />

	<script type="text/javascript" src="/javascripts/JSAN.js"></script>
	<script type="text/javascript" src="interactive.js"></script>

	<style type="text/css">
		/* Nav & Tabs & Side Bar Ads */
		.tab { display: none; }
		#side-bar-ads {display: none; }
	</style>
    <script type="text/javascript">
		
		function reloadpdf(reload_page) {
			view_pdf(reload_page);
			<? if reload_page ?>
			<? endif reload_page ?>
		}
		
			</script>
</head>

<body onload="reloadpdf(<?reload_page?>)">
	<!--#include virtual="/includes/c1-main-nav.html" -->
<? if is_staff ?>
<form method="get" action="main.html">
		<input type="hidden" name="pid" value="<?pid?>"/>
		<?if create_to_order?>
			<input type="hidden" name="create_to_order" value="1" />
		<?endif create_to_order?>
			<input type="submit" class="button" value="Exit"  />
</form>
<? endif is_staff ?>
	<form id="template" method="post" action="record.html?pid=<?pid?>">
		<input type="hidden" name="pid" value="<?pid?>" id="pid" />
		<?if create_to_order?>
			<input type="hidden" name="create_to_order" value="1" />
		<?endif create_to_order?>

		<div id="record-nav">
		<? if ($$variable{user_id} eq '10283'  || $$variable{is_staff} || $$variable{user_id} eq '129' || $$variable{user_id} eq '162') ?>
        <!-- User ID Numbers 10283, 129 and 162:
        10283 = Eric * Jowharian from company number 10283 = Company Name 10283
        129 = Salendra Singh from company number 113 = Company Name 10018
        162 = Jatinder Chauhan from company number 147 = Company Name 10100-->
        
        <input name="new"    type="submit" class="button"       style="float: left" value="New" /> 
		<? endif ($$variable{user_id} eq '10283'  || $$variable{is_staff} || $$variable{user_id} eq '129' || $$variable{user_id} eq '162') ?>
		 <? if is_staff ?>
         <input name="delete" type="submit" class="button right" value="Delete" />
         <? endif is_staff ?>
                    <input               type="submit" class="button right" value="Save" />

			<!-- <input type="button" class="button right" value="Clear" style="float: right;" /> -->

			<div id="offsets" style="width: 22em; padding-bottom:3em;">
				<? if ($$variable{user_id} eq '10283'  || $$variable{is_staff} || $$variable{user_id} eq '129' || $$variable{user_id} eq '162') ?>
                <input name="first"  type="submit" class="button arrow" value="|&lt;&lt;" />
				<input name="prev"   type="submit" class="button arrow" value="&lt;" />
				<input name="offset" type="text"   id="offset"          value="<?offset?>" />
				<input               type="submit" class="button"       value="Go" />
				<input name="next"   type="submit" class="button arrow" value="&gt;" />
				<input name="last"   type="submit" class="button arrow" value="&gt;&gt;|" /> 
            <? else ($$variable{user_id} eq '10283'  || $$variable{is_staff} || $$variable{user_id} eq '129' || $$variable{user_id} eq '162') ?>
            <input name="offset" type="hidden" id="offset" value="<?offset?>" />
              <? endif ($$variable{user_id} eq '10283'  || $$variable{is_staff} || $$variable{user_id} eq '129' || $$variable{user_id} eq '162') ?>
                
			</div> 
		</div>

		<div id="fill">
			<input type="hidden" id="id" name="id" />

			<? loop pages ?>
				<fieldset>
					<legend>Page <?_row?></legend>

					<? loop blocks ?>
						<label for="b<?_row?>" style="width:250px;"><?Description?></label>

						<?if ($$variable{Subtype} eq 'Text') ?>
							<?if not:textarea ?>
								<input id="b<?_row?>" size="<?cols?>" style="width: <?cols?>em;" type="text" name="<?Name?>" value="" />
							<?endif not:textarea ?>

							<?if textarea ?>
								<textarea id="b<?_row?>" rows="<?rows?>" cols="<?cols?>" name="<?Name?>" style="overflow-y: <?scrollbar?>; width: <?cols?>em; height: <?rows?>em" ></textarea>
							<?endif textarea ?>

						<?else ($$variable{Subtype} eq 'Text') ?>
							<?eval ($variable->{items} = $variable->{assets}{ $variable->{Name} }) ?>

							<!-- We're an asset so we need a dropdown populated. -->
							<?if empty:items?>
								No assets available. Please click <a href="assets.html?pid=<?pid?><?if create_to_order?>;create_to_order=1<?endif create_to_order?>">here</a> to upload assets.
							<?endif empty:items?>

							<?if not:empty:items?>
								<select id="b<?_row?>" name="<?Name?>">

									<?loop items?>
										<option value="<?id?>"><?name?></option>
									<?endloop items?>

								</select>
							<?endif not:empty:items?>
						<?endif ($$variable{Subtype} eq 'Text') ?>

						<br />

					<? endloop blocks ?>
                   
		
				</fieldset>
			<? endloop pages ?>
		</div>

		<div class="button-bar">
            <input type="hidden" name="auto_preview" id="auto_preview" value="1"  />
		<!--	<label for="auto_preview">Auto Preview</label> -->
<!--			<? if is_staff ?><input type="submit" class="button right" value="Exit" name="Exit" /><? end if is_staff ?>
-->			<input type="submit" class="button right" value="Save and Continue" name="Finish" onClick="form.action='main.html'" />
<!--			<input type="button" class="button right" value="Preview" onClick="update_preview()";  />
-->            
				<input type="submit" class="button right" value="Preview"  />
                 <input type="hidden" name="reload_page" id="reload_page"  />
                 <input type="hidden" id="marker" name="marker"  value="<?marker?>" />
		</div>
	</form>


	<!--#include virtual="/includes/f1-main.html" -->
	
	<br class="clear" />

	<div id="previews">
		<? loop pages ?>
			<div class="preview">
            <? eval( $variable->{page} = $variable->{_row} -1 ) ?>
				<!--<embed src="/pdf/render?pid=<?pid?>&n=<?page?>;file_type=pdf;offset=<?offset?>" width="322px"> <br /> -->
                <img width="322px" id="p<?_row?>" alt="Page <?_row?> Preview" src="" />
				<a href="" onclick="$('reload_page').value=<?_row?>; document.forms['template'].submit();return false;";>View Page <?_row?> as Full Size PDF</a>
			</div>

		<? endloop pages ?>
	</div>

<!--#include virtual="/includes/f2-main.html" -->
</body>
</html>
