<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sherwood Printers | Trade Printers | Wholesale Printing</title>
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/openprint/javascripts/bootstrap-table-1.23.5/bootstrap-table.min.css">

    <link href="/base_css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/base_css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>

    <?include(/includes/web_page_meta.html)?>
    <link href="<?hash_link(/styles/products.css)?>" rel="stylesheet" type="text/css" media="screen" />
    <link href="<?hash_link(/base_css/common.css)?>" rel="stylesheet" type="text/css" media="screen" />
    <link href="<?hash_link(/styles/common.css)?>" rel="stylesheet" type="text/css" media="screen" />
    <?include(/includes/h1-main-css.html)?>
  </head>
  <body>
    <?include(/includes/c1-main-nav.html)?>

      <div id="content2">
        <?include(/includes/error_reporting.html)?>
        <? echo (variable_substitution( \$$variable{PageContent}, $variable ); ) ?>
      </div><!--conetnt2-->

    <?include(/includes/f1-main.html)?>
    <!--sidebar content-->
    <p style="text-align: center;">What's New?</p>
    <p style="text-align: center;">Instant<br />Online Quotes and Orders</p>
    <p style="text-align: center;">Anytime! Anywhere!</p>
	
	  <?include(/includes/f2-main.html)?>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <script src="<?hash_link(/openprint/javascripts/logger.js)?>"></script>
    <script src="/openprint/javascripts/bootstrap-table-1.23.5/bootstrap-table.min.js"></script>
    <script src="/openprint/javascripts/chosen/chosen.jquery.js"></script>
    <link href="/openprint/javascripts/chosen/chosen.css" rel="stylesheet" type="text/css" />

    <script src="<?hash_link(/openprint/javascripts/prototype.js)?>"></script>
    <!--<script src="/javascripts/menu.js"></script>-->
    <script src="<?hash_link(/javascripts/form_utilities.js)?>"></script>
    <script src="<?hash_link(/javascripts/window.js)?>"></script>
    <script src="/openprint/javascripts/bootstrap-5.3.8-dist/js/bootstrap.bundle.js"></script>

    <script>
      var $j = jQuery.noConflict();
      const user_id = '<?echo($session{user_id})?>';
      const company_id = '<?echo($session{company_id})?>';
      const company_name = '<?echo($openprint::Company->name())?>';
      addEventListener("DOMContentLoaded", (event) => {
        if ( typeof(body_onLoad) == 'function' ) body_onLoad();
        update_event_bindings();
        if ($j.chosen)
          $j('select.chosen').chosen({disable_search_threshold: 10});
      });
    </script>
	</body>
</html>
