/* For Printer Friendly WebPages */

body {
	background-color: white;
	margin: 10px;
	padding: 0;
	text-align: left;
	width: 900px;
}


table {

	margin: 0 0 0 0;
}


div.group a.comment {
	display: none !important;
}

h4 {
	margin: 0
}
