Redirect 301 /contact-sherwood-printers http://www.sherwoodprinters.com/main/aboutus/aboutus_contact.html
Redirect 301 /sherwood-printing-facility http://www.sherwoodprinters.com/main/aboutus/aboutus_equipment.html
Redirect 301 /about-sherwood-printers http://www.sherwoodprinters.com/main/aboutus/aboutus_aboutus.html